@mixin text-gradient($leftColor: $amber, $rightColor: $wild-watermelon) {
    background: -webkit-linear-gradient(bottom right, $rightColor, $leftColor);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    ::selection {
        background: $night-rider;
        background-clip: initial;
        -webkit-background-clip: initial;
        -webkit-text-fill-color: initial;
    }
}