@import './constants';

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    cursor: default;
    color: $main-font-color;
    font-family: $body-font;
}

html {
    background-color: $floral-white;
}

a {
    color: $link-color;
    position: relative;
    text-decoration: none;
    -moz-transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;

    &:after:not(#mosaic-footer-logo) {
        position: absolute;
        top: -5px;
        left: 0;
        width: 0%;
        height: 3px;
        background: $link-color;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=(50));
        opacity: 0.5;
        content: "";
        -moz-transition: all 250ms ease-in-out;
        -webkit-transition: all 250ms ease-in-out;
        -o-transition: all 250ms ease-in-out;
        transition: all 250ms ease-in-out;
    }

    &:hover,
    &:hover i {
        color: $amber;
    }

    &:hover:after {
        width: 99%;
        background: $amber;
    }
}

a:hover.long-arrow path {
    fill: $amber;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font;
    text-transform: lowercase;
}

h1 {
    font-size: 6.5em;
    text-align: right;
}

h5 {
    font-size: 2em;
    text-align: right;
}

h6 {
    font-size: 1.5em;
}

header {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    background-color: $night-rider;
    z-index: 2;
}

img,
svg path,
svg rect,
svg polygon,
.works--text {
    -moz-transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

img.img--main {
    border-radius: 3px;
    margin-bottom: 0;
    width: 100%;
}

p.content {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05em;
    font-size: 14px;
    line-height: 2em;
    margin-bottom: 30px;
}

p.content.low-width {
    max-width: 400px;
}

section:first-of-type {
    padding: 200px 0 100px;
}

section {
    padding: 100px 0;
}

.container {
    max-width: 960px;
}

.long-arrow {
    width: 10px;
    margin-left: 10px;
}

::selection {
    background-color: $night-rider;
    color: #f9faf4;
}

@media screen and (max-width: 700px) {
    h1 {
        text-align: left;
        font-size: 4.5em;
    }
}

@media screen and (min-width: 400px) {
    .container {
        width: 90%;
    }
}
