.vertical--divide {
    background-color: $night-rider;
    background: -webkit-linear-gradient(bottom right, $floral-white, $night-rider);
    height: 11em;
    margin: 8em 0 1em;
    width: 1px;

    &.short {
        height: 2em;

        &.bottom {
            margin: 13em 0 1em;
        }
        &.divide-orange {
            border-color: #ff990e;
            margin: 3em 0 1em;
            height: 0.8em;
        }
        &.divide-red {
            height: 1em;
            border-color: #ff5f6d;
        }
        &.mosaic--works {
            height: 3em;
            margin: 3em 0 1em;
        }
    }
}

@media screen and (max-width: 700px) {
    .vertical--divide {
        height: 6em;
        margin: 4em 0 1em;

        &.short.bottom.works {
            display: none;
        }
    }
}