@import '../mixins/text-gradient';

.logo {
    @include text-gradient($amber, $wild-watermelon);
}

.mosaic--logo {
    &:hover {
        cursor: pointer;

        & svg g {
            .mosaic {
                &--orange {
                    fill: $amber;
                }
                &--red {
                    fill: $wild-watermelon;
                }
            }
        }
    }
}