@import '../mixins/small-screen-scrollbar';

body::-webkit-scrollbar {
    display: none;
}

.mosaic-scroll-bar {
    background-color: $orange-peel;
    background: -webkit-linear-gradient(bottom right, $wild-watermelon, $orange-peel);
    background-clip: padding-box;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    cursor: pointer;
    height: 200px;
    right: 22px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;

    &::after,
    &::before {
        background-image: url('./img/arrow.svg');
        background-size: 15px 15px;
        content: ' ';
        height: 15px;
        left: -6px;
        position: absolute;
        width: 15px;
    }

    &::after {
        bottom: -50px;
        transform: rotate(180deg);
    }

    &::before {
        top: -50px;
    }
}

.mosaic-scroll-bar-scroller {
    background-color: $night-rider;
    border-radius: 1px;
    height: 28px;
    width: 3px;
}

@media (max-width: 1130px) {
    @include small-screen-scrollbar();
}

@media (max-height: 320px) {
    @include small-screen-scrollbar();
}
